{% macro playerturn() %}
{{ display_all(['score', 'permanent']) }}
{% trans name=data.players.current.name %}playerturn {{ name }}{% endtrans %}
{% endmacro %}

{% macro round() %}
{{ display_current(['score', 'permanent'], ['score', 'temporary']) }}
{% endmacro %}

{% macro winner(name) %}
{{ display_all(['score', 'permanent']) }}
{% trans name %}winner {{ name }}{% endtrans %}
{% endmacro %}

{% macro diceroll(name, roll) %}
{% trans name=name, roll=roll %}roll {{ name }} {{ roll }}{% endtrans %}
{% endmacro %}

{% macro choice(name, choice) %}
{% trans name=name, choice=choice %}choice {{ name }} {{ choice }}{% endtrans %}
{% endmacro %}
